.web {
    background-color: white;
    transition:all 200ms linear;

   

    .left-right-Stuff {
        

        .left {
            position: fixed;
            bottom: 0;
            left: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;

            .link {
                transition: all 200ms ease;

                .scrolledIcons {
                    color: rgb(127 148 199);

                    &:hover {
                        color: var(--color1);
                    }
                }
                .notScrolled {
                    color: var(--color2);
                }

                a {
                    
                    font-size: 20px;
                    transition: 500ms ease;

                    &:hover {
                        color: var(--color1);
                    }
                }

                &:hover {
                    transform: translateY(-4px);
                }
            }

            .line {
                height: 100px;
                width: 1px;
                background-color:rgb(76, 90, 128);
            }
            
        }
        .right {
            position: fixed;
            bottom: 0;
            right: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;

            .line {
                height: 100px;
                width: 1px;
                background-color: rgb(76, 90, 128);
            }

            .scrolledEmail {
                color: rgb(127 148 199);
            }
            .notscrolledEmail {
                color: var(--color2);
            }
            
            a {
                
                writing-mode: vertical-rl;
                text-decoration: none;
                transition:all 200ms ease;
                // font-weight: 600;
                &:hover {
                    transform: translateY(-4px);
                    color:  var(--color1);
                }
                

            }
        }

    }
}


@media screen and (max-width:767px) {
    .left-right-Stuff {
        display: none;
    }
}